@model DentistApp.Application.ViewModels.PatientInfoForIndexListVM

@{
    ViewData["Title"] = "Index";
}

<h1>All patients</h1>



<table class="table">
    <thead>
        <tr>
            <th>
                PATIENT
            </th>
            <th>
                NEXT VISIT
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model.Patients) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NextVisit)
            </td>
            <td> <a class="btn btn-primary" asp-action="PatientCard" asp-route-patientId="@item.Id">Patient Card</a> </td>
            <td> <a class="btn btn-primary" asp-action="Edit" asp-route-Id="@item.Id">Edit</a> </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>*@
        </tr>
}
    </tbody>
</table>
