@model DentistApp.Application.ViewModels.VisitInfoForDetailsVM
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<form asp-action="AddOrEditDiagnosisAndProcedure" method="post">
    <input type="hidden" asp-for="DentistId" />
    <input type="hidden" asp-for="PatientId" />
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="VisitDate" />
    <input type="hidden" asp-for="VisitStatus" />
    <div class="row">
        <div class="card border-primary mr-3" style="width: 30%;">
            <div class="card-header"><h4>Visit details</h4></div>
            <div class="card-body text-primary">
                <dl class="row">
                    <dt class="col-sm-5"><text style="color:gray">visit date</text></dt>
                    <dd class="col-sm-7">@Html.DisplayFor(model => Model.VisitDate)</dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-5"><text style="color:gray">status</text></dt>
                    <dd class="col-sm-7">@Html.DisplayFor(model => Model.VisitStatus)</dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-5"><text style="color:gray">patient</text></dt>
                    <dd class="col-sm-7">@Html.DisplayFor(model => Model.Patient.Name) @Html.DisplayFor(model => Model.Patient.LastName)</dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-5"><text style="color:gray">dentist</text></dt>
                    <dd class="col-sm-7">@Html.DisplayFor(model => Model.Dentist.Name) @Html.DisplayFor(model => Model.Dentist.LastName)</dd>
                </dl>
            </div>
        </div>

        <div class="card border-primary mr-3 " style="width: 60%;">
            <div class="card-header">
                <h4>
                    <text style="color:gray">diagnosis </text>
                    @if ((await AuthorizationService.AuthorizeAsync(User, "EditDiagnosisAndProcedure")).Succeeded)
                    {<textarea asp-for="Diagnosis" class="form-control" style="background-color:inherit;outline:none;box-shadow:none"></textarea>}
                    else
                    {
                        <br />
                        <h5><text>@Model.Diagnosis</text></h5>
                    }
                </h4>
            </div>
            <div class="card-body text-primary">
                <h4>
                    <text style="color:gray">procedure </text>
                    @if ((await AuthorizationService.AuthorizeAsync(User, "EditDiagnosisAndProcedure")).Succeeded)
                    {
                        <textarea asp-for="Procedure" class="form-control" style="outline:none;box-shadow:none; color:dodgerblue"></textarea>
                    }
                    else
                    {
                        <br />
                        <h5><text>@Model.Procedure</text></h5>
                    }
                </h4>
            </div>
            @if ((await AuthorizationService.AuthorizeAsync(User, "EditDiagnosisAndProcedure")).Succeeded)
            {
                <div class="card-footer">
                   
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            }
        </div>

    </div>
</form>

<div class="row mt-2">
    @if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Secretary")))
    {
        <a class="btn btn-outline-primary float-left mr-2" asp-action="Edit" asp-route-id="@Model.Id">Edit visit</a>
    }
    @if (!string.IsNullOrWhiteSpace(ViewBag.Reffer))
    {
        <a class="btn btn-outline-dark" href="@ViewBag.Reffer">Return to previous page</a>
    }
    else
    {
    <a class="btn btn-outline-dark" asp-action="Index">Back to list of visits</a>
    }
</div>
