@model DentistApp.Application.ViewModels.VisitInfoForIndexListVM

@{
    ViewData["Title"] = "Index";
}

<h1>All visits</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Create New</a>
</p>

@foreach (var d in Model.Dates)
{
    <h4 class="border border-primary p-3 text-center" style="background-color:whitesmoke; color:cornflowerblue">
        @{ var day = d.ToString("dd MMMM yyyy");
            @Html.DisplayFor(modelItem => day)}
        @*@Html.DisplayFor(model => d)*@
    </h4>
    <table class="table">
        <thead>
            <tr>
                <th class="col" style="width:10%">
                    Time
                </th>
                <th class="col" style="width:15%">
                    Status
                </th>
                <th class="col" style="width:25%">
                    Patient
                </th>
                <th class="col" style="width:25%">
                    Dentist
                </th>
                <th class="col" style="width:25%"></th>
            </tr>
        </thead>
        @*</table>*@
        @foreach (var v in Model.Visits)
        {
            if (v.VisitDate.Date == d.Date)
            {
                @*<table class="table " >*@
                <tbody>
                    <tr>
                        <td>
                            @{ var timeofday = v.VisitDate.ToString("HH:mm");
                                @Html.DisplayFor(modelItem => timeofday)}
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => v.VisitStatus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => v.Patient.FullName) @*@Html.DisplayFor(modelItem => item.PatientLastName)*@
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => v.Dentist.FullName) @*@Html.DisplayFor(modelItem => item.DentistLastName)*@
                        </td>
                        <td>
                            @*@Html.ActionLink("Edit", "Edit", new { id = v.Id }) |
        @Html.ActionLink("Details", "Details", new { id = v.Id }) |
        @Html.ActionLink("Cancel", "Cancel", new { id = v.Id })*@

                            <a class="btn btn-primary" asp-action="Details" asp-route-id="@v.Id">Details</a>
                            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@v.Id">Edit</a>
                            @{var isAvailable = (v.VisitDate < DateTime.Now) || (v.VisitStatus.ToString() == "Canceled") ? "display:none" : ""; }
                            <a style="@isAvailable" class="btn btn-primary" asp-action="Cancel" asp-route-id="@v.Id">Cancel</a>
                            
                        </td>
                    </tr>
                </tbody>

            }
        }

    </table>
}




@*<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Time
            </th>
            <th>
                Status
            </th>
            <th>
                Patient
            </th>
            <th>
                Dentist
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Visits)
        {
            <tr>
                <td>
                    @{ var date = item.VisitDate.ToString("dd/MM/yyyy");
                        @Html.DisplayFor(modelItem => date)}
                </td>
                <td>
                    @{ var timeofday = item.VisitDate.ToString("HH:mm");
                        @Html.DisplayFor(modelItem => timeofday)}
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VisitStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PatientFullName) 
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DentistFullName) 
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                   
                </td>
            </tr>
        }
    </tbody>
</table>*@
