@model DentistApp.Application.ViewModels.VisitForDateListVM

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    <div class="col-auto">
        <h4> @Html.DisplayFor(model => Model.CurrentDate)</h4>
    </div>

    <div class="col-auto">
        <h4>Number of visits: @Html.DisplayFor(model => Model.Count)</h4>
    </div>
    <div class="col-auto">
        <h4>Number of done visits: @Html.DisplayFor(model => Model.DoneVisits)</h4>
    </div>

</div>
<table class="table">
    <thead>
        <tr>

            <th>
                Time
            </th>
            <th>
                Name
            </th>
            <th>
                Status
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Visits)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VisitDate)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Name) @Html.DisplayFor(modelItem => item.LastName)*@
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VisitStatus)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
